$fuentePrincipal: 'Truculenta',
sans-serif;
// COLORES 
$celeste: #029cdc;
$azul:#03174d;
$verde: #02DE8E;
$naranja: #DE4402;
$rosa: #DE029C;
$violeta: #4f02de;
$negro: #000;
$blanco: #fff;
// MEDIA QUERIES 
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
// FONTS
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;
// SEPARACIONES 
$separacion: 5rem;